@model IEnumerable<Caesar.Core.DTOs.ReservationDto>

@{
    ViewData["Title"] = "My Reservations";
}

<h1>History</h1>


<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Number of Guests</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ReservationDate.ToShortDateString()</td>
                <td>@item.ReservationTime</td>
                <td>@item.NumberOfGuests</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-warning">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>